# Files.
**/.DS_Store
**/.env

# Folders.
**/node_modules/
**/.pnpm-store/
**/.turbo/
**/.zap/
**/dist/

# Playwright
**/test-results/
**/playwright-report/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars.local
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
